nav {
    background: #20A759;
    color:#fff;
    padding: 10px;
    }
    nav a {
    color: rgb(240, 20, 20);
    text-decoration: none;
    padding:10px 20px;
    }
    nav .active,
    nav a:hover {
    background: #0513dd;
    }
/* ID Selector */
#intro {
    background: #eb9c0a;
    border: 1px solid #e2e60b;
    min-height: 100px;
    padding: 10px;
    }
    #intro h1 {
    text-align: left;
    border: 0;
    color: rgb(202, 24, 24);
    }
    /* Class Selector */
    .button {
     padding: 15px 20px;
    background: #bebcbd;
    color: #fff;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    }
    .btn-primary {
    background: #cc0822;
    }